:root {
  --aqua: #86fbfb;
  --black: #171321;
  --dkblue: #0d314b;
  --font-size: 1.3rem;
  --hotmag: #ff17e4;
  --magenta: #e310cb;
  --mono: 'Oxygen mono', monospace;
  --plum: #4b0d49;
  --sans: Oxygen, sans-serif;
  --white: #f7f8fa;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: var(--sans);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  color: var(--magenta);
}

a:hover {
  color: var(--hotmag);
  text-decoration: none;
}

/* nav styles */
nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav h1 {
  font-family: var(--sans);
}

nav ul {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  gap: 2rem;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul a {
  color: var(--white);
  display: block;
  text-decoration: none;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

.brandIcon {
  font-size: 150%;
}

.brandIcon,
.nameIcon {
  color: var(--aqua);
}

.brandIcon:hover,
.nameIcon:hover {
  color: var(--hotmag);
}

/* home + intro styles */
.home {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.intro p {
  font-size: 1rem;
  line-height: 1.5;
}

.name {
  font-family: var(--mono);
}

.name span {
  color: var(--aqua);
  display: block;
  font-family: var(--sans);
  font-size: 4rem;
  font-weight: 300;
}

.intro h2 {
  font-size: 4rem;
  font-weight: normal;
}

/* contact me styles */
.contactMe {
  padding: 3rem 0;
  text-align: center;
  margin: 0 auto;
  width: 400px;
}

.contactMe p {
  text-align: center;
}

/* projects styles */
.projects {
  padding: 4rem 1rem;
}

.projects h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}

.projects h3 {
  color: var(--aqua);
}

.projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
}

.blackBox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.projects ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

.projects img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  padding: 1rem;
}

/* footer styles */
footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  display: flex;
  flex-flow: row wrap;
  font-size: 3rem;
  gap: 3rem;
  justify-content: center;
  list-style-type: none;
  margin: 2rem 0;
  padding: 0;
}

/* button styles */
.button {
  background-color: var(--magenta);
  border-radius: 5px;
  color: white;
  font-family: var(--mono);
  padding: 0.5rem;
  text-decoration: none;
}

.button:hover {
  color: var(--white);
  background-color: var(--hotmag);
}

/* image styles */
.profilePicture {
  border-radius: 50%;
  max-width: 100%;
}

.pictureContainerDesktop {
  display: none;
}

.projectScreenshots {
  max-width: 100%;
}

/* background color divs */
.sectionPlum {
  background-color: var(--plum);
}

.sectionDkBlue {
  background-color: var(--dkblue);
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(255, 23, 228, 1) 0%,
    rgba(134, 251, 251, 1) 100%
  );
  height: 2px;
}

/* media queries */
@media (min-width: 768px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }

  .pictureContainerMobile {
    display: none;
  }

  .pictureContainerDesktop {
    display: block;
  }

  .projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  .projects article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 1;
    text-align: right;
  }

  .projects ul {
    justify-content: flex-end;
  }

  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  .reverse ul {
    justify-content: flex-start;
  }

  /* TODO: maybe try using grid instead */
  /* .introText {
    display: grid;
    grid-template-columns: 1fr 1fr;
    order: 1;
  } */
}

@media (min-width: 550px) {
  /* .projects {
    max-width: 1200px;
    margin: 0 auto;
  }
  .projects article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  .text {
    grid-column: 5/11;
    grid-row: 1/2;
    order: 1;
    text-align: right;
  }

  .projects ul {
    justify-content: flex-end;
  }

  .projects img {
    grid-column: 1/6;
    grid-row: 1/2;
  }

  .reverse .text {
    grid-column: 1/7;
    order: 2;
    text-align: left;
  }

  .reverse img {
    grid-column: 6/11;
    grid-row: 1/2;
  }

  .reverse ul {
    justify-content: flex-start;
  } */

  /* .projects article:nth-child(odd) {
    order: 1;
  } */
}

/* .App {
  display: flex;
  flex-direction: column;
}

.hamburgerMenu {
  width: 50px;
  height: 50px;
  display: block;
  border: none;
  margin: 20px;
  background: linear-gradient(
    to bottom,
    #3d0e61,
    #3d0e61 20%,
    white 20%,
    white 40%,
    #3d0e61 40%,
    #3d0e61 60%,
    white 60%,
    white 80%,
    #3d0e61 80%,
    #3d0e61 100%
  );
}

.hamburgerMenu .navbar {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: -250px;
  width: 200px;
  height: 100%;
  background-color: #3d0e61;
  padding: 0px 10px;
} */

/* .navbarContainer {
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: flex-end;
}

.navItem {
  margin: 1rem;
}

.home {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.pictureContainer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}

.aboutMe {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: start;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
  background-color: white;
  border: 2px solid rgb(240, 240, 240);
  border-radius: 12px;
} */
